# Wind Impact on Blending Agent Performance

How robust is the RL architecture trained on to blend other RL policies to all wind?

In [33]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from tqdm import tqdm

from utilities import get_agent
from environments import OctorotorEnvSelector
from systems.pid_agent import PIDAgent
from multirotor.helpers import DataLog

In [34]:
study, best_agent, best_params = get_agent('oracle')

best_params['bounding_rect_length']=200
best_params['steps_u']=50

[I 2023-09-23 11:18:02,824] Using an existing study with name 'oracle' instead of creating a new one.

In [35]:
best_params

{'scaling_factor': 5,
 'window_distance': 10,
 'policy_layers': 3,
 'policy_size': 128,
 'learning_rate': 0.0005557590377310718,
 'n_epochs': 4,
 'n_steps': 10400,
 'batch_size': 64,
 'training_interactions': 200000,
 'bounding_rect_length': 200,
 'steps_u': 50}

In [36]:
env_selector = OctorotorEnvSelector()
square_wpts = np.array([[100,0,30], [100,100,30], [0,100,30], [0,0,30]])

In [37]:
def get_tte(initial_pos: tuple, waypoints: np.ndarray, x: np.ndarray, y:np.ndarray, z:np.ndarray) -> np.ndarray:
        """
        Calculates the trajectory tracking error. 
        The distance between the current point and the vector between previous and next wp. Uses ||v1 x v2|| / ||v1||.

        Parameters
        ----------
        initial_pos : tuple  
            the initial position of the UAV.
        waypoints : np.ndarray 
            the reference positions at each point in time.
        x : np.ndarray 
            the x positions of the UAV.
        y : np.ndarray 
            the y positions of the UAV.
        z : np.ndarray
            the z positions of the UAV.

        Returns
        -------
        np.ndarray 
            the trajectory tracking error at each point in time.
        """
        ttes = []
        prev = initial_pos
        for i, waypoint in enumerate(waypoints):
            if i > 0 and not np.array_equal(waypoints[i-1], waypoints[i]):
                prev = waypoints[i-1]

            v1 = waypoint - prev
            v2 = np.array([x[i],y[i],z[i]]) - prev
            tte = np.linalg.norm(np.cross(v1, v2)) / (np.linalg.norm(v1) + 1e-6)
            ttes.append(tte)
                
        return np.array(ttes)

In [38]:
def toc(tte: np.ndarray):
    corridor = 5
    return best_params['steps_u'] * len(tte[tte > corridor]) / 100

In [39]:
def completed_mission(waypoints: np.ndarray, x: np.ndarray, y: np.ndarray, z: np.ndarray, radius: float = 0.65):
        for waypoint in waypoints:
            reached_waypoint = False

            for position in zip(x,y,z):
                dist = np.linalg.norm(waypoint - position)

                if dist <= radius:
                    reached_waypoint = True
                    break

            if not reached_waypoint:
                return False
            
        return True

In [40]:
def run_trajectory(env_selector, wind_ranges: np.ndarray, agent, params):
    env = env_selector.get_env("sliding", params, wind_ranges, square_wpts, start_alt=30)
    done = False
    state = np.array(env.reset(), dtype=np.float32)
    log = DataLog(env.base_env.vehicle, env.base_env.ctrl,
                      other_vars=('reward',))
    while not done:
        action = agent.predict(state, deterministic=True)[0]
        state, reward, done, info = env.step(action)
        state = np.array(state, dtype=np.float32)
        log.log(reward=reward)

    log.done_logging()
    return log, info

In [41]:
wind_range_dict = {
    'zero': [(0,0), (0,0), (0,0)],
    'n5': [(0,0), (5,5), (0,0)],
    'n7': [(0,0), (7,7), (0,0)],
    'n10': [(0,0), (10,10), (0,0)],
    's5': [(0,0), (-5,-5), (0,0)],
    's7': [(0,0), (-7,-7), (0,0)],
    's10': [(0,0), (-10,-10), (0,0)],
    'e5': [(5,5), (0,0), (0,0)],
    'e7': [(7,7), (0,0), (0,0)],
    'e10': [(10,10), (0,0), (0,0)],
    'w5': [(-5,-5), (0,0), (0,0)],
    'w7': [(-7,-7), (0,0), (0,0)],
    'w10': [(-10,-10), (0,0), (0,0)],
    'nw5': [(-3.53553391,-3.53553391), (3.53553391,3.53553391), (0,0)],
    'nw7': [(-4.94974747,-4.94974747), (4.94974747,4.94974747), (0,0)],
    'nw10': [(-7.07106781,-7.07106781), (7.07106781,7.07106781), (0,0)],
    'sw5': [(-3.53553391,-3.53553391), (-3.53553391,-3.53553391), (0,0)],
    'sw7': [(-4.94974747,-4.94974747), (-4.94974747,-4.94974747), (0,0)],
    'sw10': [(-7.07106781,-7.07106781), (-7.07106781,-7.07106781), (0,0)],
    'ne5': [(3.53553391,3.53553391), (3.53553391,3.53553391), (0,0)],
    'ne7': [(4.94974747,4.94974747), (4.94974747,4.94974747), (0,0)],
    'ne10': [(7.07106781,7.07106781), (7.07106781,7.07106781), (0,0)],
    'se5': [(3.53553391,3.53553391), (-3.53553391,-3.53553391), (0,0)],
    'se7': [(4.94974747,4.94974747), (-4.94974747,-4.94974747), (0,0)],
    'se10': [(7.07106781,7.07106781), (-7.07106781,-7.07106781), (0,0)],
}

In [42]:
wind_results = pd.DataFrame(columns=['Wind', 'Total TTE', 'Mean TTE', 'Completed Mission', 'Reward', 'Time Outside Corridor'])

In [43]:
def run_wind_sweep(results, wind_dict, agent, params):
    for wind in tqdm(wind_dict.keys()):
        log, info = run_trajectory(env_selector, wind_dict[wind], agent, params)
        traj_err = get_tte(np.array([0,0,30]), log.target.position, log.x, log.y, log.z)
        new_result = {
            'Wind': wind,
            'Mean TTE': np.mean(traj_err),
            'Total TTE': np.sum(traj_err),
            'Completed Mission': completed_mission(square_wpts, log.x, log.y, log.z, radius=5),
            'Reward': np.sum(log.reward),
            'Time Outside Corridor': toc(traj_err)
        }
        results = pd.concat([results, pd.DataFrame([new_result])], ignore_index=True)

    return results

In [44]:
wind_results = run_wind_sweep(wind_results, wind_range_dict, best_agent, best_params)

100%|██████████████████████████████████████████████████████████████████████████| 25/25 [02:10<00:00,  5.20s/it]

In [45]:
wind_results.to_csv('./data/oracle.csv')

In [46]:
wind_results = pd.read_csv('./data/oracle.csv')

In [47]:
wind_results

,Unnamed: 0,Wind,Total TTE,Mean TTE,Completed Mission,Reward,Time Outside Corridor
0,0,zero,179.534444,0.906740,True,8163.6367,0.0
1,1,n5,244.789163,1.217857,True,7534.6240,0.0
2,2,n7,228.026846,1.140134,True,7692.7188,0.0
3,3,n10,1801.370831,8.618999,True,-8005.3940,42.0
4,4,s5,133.612834,0.674812,True,8614.6740,0.0
5,5,s7,132.523392,0.665947,True,8621.5860,0.0
6,6,s10,507.387733,2.382102,True,4903.6090,14.0
7,7,e5,231.272790,1.168044,True,7665.8765,0.0
8,8,e7,237.102868,1.191472,True,7607.0815,0.0
9,9,e10,1074.519063,5.190913,True,-757.6094,23.0
10,10,w5,239.674815,1.186509,True,7584.0537,0.0
11,11,w7,181.679497,0.903878,True,8149.1724,0.0
12,12,w10,887.114015,4.088083,True,1104.6050,22.5
13,13,nw5,307.938561,1.524448,True,6910.7160,0.0
14,14,nw7,295.341049,1.454882,True,7036.6720,0.0
15,15,nw10,205.510438,1.017378,True,7909.2437,0.0
16,16,sw5,211.485998,1.052169,True,7847.1934,0.0
17,17,sw7,202.753961,1.008726,True,7928.7207,0.0
18,18,sw10,146.406472,0.728390,True,8483.7040,0.0
19,19,ne5,284.506143,1.422531,True,7140.9995,0.0
20,20,ne7,295.831119,1.471797,True,7027.4707,0.0
21,21,ne10,261.010306,1.298559,True,7373.8320,0.0
22,22,se5,183.568951,0.931822,True,8126.9966,0.0
23,23,se7,196.142164,0.990617,True,8004.7427,0.0
24,24,se10,215.308485,1.081952,True,7812.9385,0.0

In [48]:
print("Mean reward for 5 m/s: ", wind_results[wind_results['Wind'].str.contains("5")]['Reward'].mean())
print("Std reward for 5 m/s: ",wind_results[wind_results['Wind'].str.contains("5")]['Reward'].std())
print("Mean reward for 7 m/s: ", wind_results[wind_results['Wind'].str.contains("7")]['Reward'].mean())
print("Std reward for 7 m/s: ",wind_results[wind_results['Wind'].str.contains("7")]['Reward'].std())
print("Mean reward for 10 m/s: ", wind_results[wind_results['Wind'].str.contains("10")]['Reward'].mean())
print("Std reward for 10 m/s: ",wind_results[wind_results['Wind'].str.contains("10")]['Reward'].std())

Mean reward for 5 m/s:  7678.141712500001
Std reward for 5 m/s:  536.4175096481484
Mean reward for 7 m/s:  7758.5206
Std reward for 7 m/s:  543.7761022428309
Mean reward for 10 m/s:  3603.1161
Std reward for 10 m/s:  5806.536333220749